// Import google fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");

// Import scss file

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  direction: ltr;
  display: flex;
  min-width: 320px;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  line-height: 1.30769231;
  scroll-behavior: smooth;
}

main {
  height: 100%;
}

#root {
  min-height: 100%;
}
