.feed {
  width: 100%;
  height: 100%;
  min-height: 65.5rem;
  margin-top: 5rem;
  background-color: #eee;
}

.feed__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
